* {
    padding: 0;
    margin: 0;
}

.header-container {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
}

.header-content {
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    padding-top: 6px;;
    margin-left: 20px;
    margin-right: 20px;
    height: 25px;
    border: 0;
    width: 70%;
    max-width: 2000px;
    border-bottom: 2px solid black;
}

.header-image {
    height: 40px;
}

.profile-favorites-menu {
    width: 90px;
    height: 40px;
    margin-right: 8px;
}

.saved {
    padding: 5px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid black;
}

.profile {
    margin-left: 10px;
    padding: 5px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid grey;
}

.subheader-container {
    width: 100%;
    height: 50px;
}

.subheader-content {
    padding-left: 14px;
    padding-right: 14px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.filter-label {
    margin-left: 10px;
}

.beds-selector {
    margin-left: 160px;
}

.property-container {
    margin-top: 12px;
    width: 100%;
    height: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    border-bottom: 2px solid black;
}

.section-container {
    padding: 10px;
}

.main-image {
    width: 100%;
}

.image-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel-image {
    width: 24%;
}

.home-price {
    font-size: 24px;
    font-weight: bold;
}

.bed-bath-sqft-lot-container {
    display: flex;
    flex-direction: row;
}

.home-detail-bbsl {
    margin-right: 10px;
}

.listing-container {
    display: flex;
    flex-direction: row;
}

.listing-detail {
    margin-right: 10px;
}

.investment-header {
    font-size: 22px;
    font-weight: bold;
}

.inv-metric-container {
    width: 100%;
    margin-top: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 18px;
}

.purchase-details {
    font-size: 18px;
    font-weight: bold;
}

.purchase-user-input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.ir-years-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.additional-exp-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}